
@{
    ViewData["Title"] = "ConfirmacionCorreo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirmación del correo</h2>
Un email ha sido enviado a @ViewBag.Email, por favor
confirme su dirección de correo eletrónico haciendo click
en el link enviado.

